<div id="footer">
  <ul class="navigation round">
    <li><%= link_to "Daily", '#' %></li>
    <li><%= link_to "Weekly", '#' %></li>
    <li><a href="http://westernonline.wiu.edu/">WesternOnline</a></li>
  </ul>
</div>
