<div id="footer">
  <ul class="navigation round">
    <li><%= link_to "Daily", daily_path %></li>
    <li><%= link_to "Weekly", weekly_path %></li>
    <li><%= link_to "Monthly", monthly_path %></li>
    <li><%= link_to "Yearly", yearly_path %></li>
    <li><a href="http://westernonline.wiu.edu/">WesternOnline</a></li>
  </ul>
</div>
